* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #764526;
    color: #ffffff;
}

.title {
    font-size: 24px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    max-height: 50px;
    padding: 0;
    margin-left: 10px;
}

.navbar {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #d2691e;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #cd853f;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

body {
    background: #f5f5f5;
    color: #000;
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #d2691e;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #cd853f;
}

#produtosTable, #clientesTable, #ingredientesTable, #pedidosTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#produtosTable th, #produtosTable td, #clientesTable th, #clientesTable td, #ingredientesTable th, #ingredientesTable td, #pedidosTable th, #pedidosTable td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#produtosTable th, #clientesTable th, #ingredientesTable th, #pedidosTable th {
    background-color: #d2691e;
    color: white;
}

#produtosTable td, #clientesTable td, #ingredientesTable td, #pedidosTable td {
    background-color: #f9f9f9;
}

#produtosTable tr:nth-child(even), #clientesTable tr:nth-child(even), #ingredientesTable tr:nth-child(even), #pedidosTable tr:nth-child(even) {
    background-color: #f2f2f2;
}
