* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #764526;
    color: #ffffff;
}

.title {
    font-size: 24px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    max-height: 50px; /* Ajuste o tamanho conforme necessário */
    padding: 0; /* Remove qualquer padding adicional */
    margin-left: 10px; /* Ajuste conforme necessário */
}

.navbar {
    margin: 20px 0; /* Ajuste a margem conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #d2691e;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.nav-button:hover {
    background-color: #cd853f;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

body {
    background: #f5f5f5;
    color: #000;
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    min-width: 300px;
    max-width: 48%;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #d2691e;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #cd853f;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #d2691e;
    color: white;
}

table td {
    background-color: #f9f9f9;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
}

ul li:last-child {
    border-bottom: none;
}
